.block-section {
	&.asking {
		position: relative;
		.block-storysidebar {
			display: block;
			position: absolute;
			max-width: 220px;
			top: $p-top;
			border-radius: 15px;
			@include media-breakpoint-only(xl) {
				width: 20vw;
				right: 4vw;
			}
			@include media-breakpoint-only(lg) {
				width: 18vw;
				right: 4vw;
			}
			@include media-breakpoint-only(md) {
				width: 18vw;
				right: 3vw;
			}
			@media (max-width: 900px) {
				display: none !important;
			}
			.container {
				padding: 18px 20px !important;
				.row {
					h3 {
						@include media-breakpoint-only(md) {
							font-size: 18px;
						}
					}
					ul {
						padding-left: 18px;
						li {
							font-size: 16px;
							&:before {
								height: 7px;
								width: 7px;
								top: 9px;
								left: -18px;
							}
						}
					}
					div.buttons {
						.button {
							font-size: 15px;
							text-align: center;
							&.medium {
								padding: 10px 18px 12px 18px;
								margin-top: 8px;
								margin-bottom: 8px;
							}
						}
					}
				}
			}
		}
	}
}
.block-storysidebar {
	background-color: $superlightgrey !important;
	&.padded {
		@media (max-width: 900px) {
			display: block !important;
		}
		@media (min-width: 901px) {
			display: none !important;
		}
		+.block-section {
			&.post-cta {
				margin-top: 0px;
			}
		}
	}
	.container {
		.row {
			h3 {
				margin-bottom: 18px;
				@include media-breakpoint-only(md) {
					margin-bottom: 15px;
				}
			}
			p {
				font-size: 16px;
				line-height: 1.3;
				@include media-breakpoint-only(md) {
					font-size: 15px;
				}
				&.cta {
					font-size: 17px;
					color: $c-green;
					font-weight: $f-semibold;
					margin-bottom: 10px;
					@include media-breakpoint-only(md) {
						font-size: 16px;
					}
				}
			}
			ul {
				margin-bottom: 20px;
				li {
					line-height: 1.3;
				}
			}
		}
	}
}