@import "./bootstrap-4.0.0/scss/_functions.scss";
@import "./bootstrap-4.0.0/scss/_variables.scss";

/* set the overriding variables */
$grid-breakpoints: (
    xxs: 0,
    xs: 360px,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
);

$container-max-widths: (
    xs: 330px,
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
);

@import "./bootstrap-4.0.0/scss/mixins/_breakpoints.scss";

// libraries
@import './_slick.scss';

// utilties
@import 'components/_variables.scss';

// admin
@import 'components/_admin.scss';

// global elements
@import 'components/_header.scss';
@import 'components/_main.scss';
@import 'components/_footer.scss';

// post types
@import 'components/_post.scss';

// springboard content blocks
@import '../../partials/_blocks.scss';

// block customizations
@import 'components/_block_customizations.scss';
