.block-tabs {
    padding-bottom: $p-bottom * 1.25;
    &.circle-images {
        .container {
            .row {
                &.details-container {
                    .tab-detail {
                        .blocks-wrapper {
                            .block-textimage {
                                .container {
                                    .row {
                                        .image-col {
                                            @include media-breakpoint-down(md) {
                                                -ms-flex: 0 0 33.333333%;
                                                flex: 0 0 33.333333%;
                                                max-width: 33.333333%;
                                                order: 13;
                                                padding-left: 5px;
                                                .image-container {
                                                    margin-top: $p-top * .6 !important;
                                                }
                                            }
                                            @include media-breakpoint-only(sm) {
                                                -ms-flex: 0 0 40%;
                                                flex: 0 0 40%;
                                                max-width: 40%;
                                            }
                                        }
                                        .text-col {
                                            @include media-breakpoint-down(md) {
                                                -ms-flex: 0 0 66.666667%;
                                                flex: 0 0 66.666667%;
                                                max-width: 66.666667%;
                                                padding-top: $p-top * .6 !important;
                                                order: -1;
                                            }
                                            @include media-breakpoint-only(sm) {
                                                -ms-flex: 0 0 60%;
                                                flex: 0 0 60%;
                                                max-width: 60%;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .container {
        .row {
            &.tabs-container {
                margin-left: -4px;
                margin-right: -4px;
            }
            &.details-container {
                .tab-detail {
                    .blocks-wrapper {
                        .block-textimage {
                            .container {
                                .row {
                                    .image-col {

                                    }
                                    .text-col {
                                        @include media-breakpoint-down(md) {
                                            padding-top: $p-top * .6;
                                        }
                                    }
                                }
                            }
                        }
                        .container {
                            padding: 0px !important;
                        }
                    }
                }
            }
        }
    }
    .tabs-container {
        >.tab {
            width: 100%;
            padding-left: 4px;
            padding-right: 4px;
            &.open {
                >.tab-text {
                    border-color: $c-secondary;
                    h4 {

                    }
                }
            }
            >.tab-text {
                border-bottom: 4px solid $c-accent;
                padding: 32px 0px 20px 0px;
                cursor: pointer;
                height: 100%;
                width: 100%;
                transition: all 0.4s ease;
                &:hover {
                    border-color: $c-secondary;
                    h4 {
                        color: $c-secondary;
                    }
                }
                h4 {
                    position: absolute;
                    line-height: 1;
                    margin: 0px;
                    width: 100%;
                    transition: all 0.4s ease;
                    bottom: 20px;
                }
            }
        }
    }
    .details-container {
        transition: all 0.4s ease;
        height: auto;
        >.tab-detail {
            display: none;
            &.open {
                display: block;
            }
            .blocks-wrapper {
                margin-top: -1px;
            }
        }
    }
}