.blocks-wrapper {  /* The role of .blocks-wrapper is to apply special rules when a block is inside another block */
    .block-gallery {
		
    }
}
.block-gallery {
	&.columns-full,
	&.columns-full-cropped {
		.container {
			max-width: unset !important;
			padding-left: 0px;
			padding-right: 0px;
			overflow: hidden;
		}
	}
	&.columns-full-cropped {
		.container {
			.row {
				margin-left: -5%;
				margin-right: -5%;
				@include media-breakpoint-down(sm) {
					margin-left: -12%;
					margin-right: -12%; 
				}
			}
		}
	}
	&.columns,
	&.columns-full,
	&.columns-full-cropped {
		&.columns-5 {
			.image-container { 
				&.col-lg-3 {
					@include media-breakpoint-up(lg) {
						-ms-flex: 0 0 20%;
						flex: 0 0 20%;
						max-width: 20%;
					}
				}
				&.col-lg-5 {
					@include media-breakpoint-up(lg) {
						-ms-flex: 0 0 40%;
						flex: 0 0 40%;
						max-width: 40%;
					}
					&.col-md-12 { 
						@include media-breakpoint-down(md) {
							-ms-flex: 0 0 66.66667%;
							flex: 0 0 66.66667%;
							max-width: 66.66667%;
						}
					}
				}
				&.col-lg-8 {
					@include media-breakpoint-up(lg) {
						-ms-flex: 0 0 60%;
						flex: 0 0 60%;
						max-width: 60%;
					}
					&.col-md-12 { 
						@include media-breakpoint-down(md) {
							-ms-flex: 0 0 66.66667%;
							flex: 0 0 66.66667%;
							max-width: 66.66667%;
						}
					}
				}
				&.col-lg-10 {
					@include media-breakpoint-up(lg) {
						-ms-flex: 0 0 80%;
						flex: 0 0 80%;
						max-width: 80%;
					}
					&.col-md-12 {
						@include media-breakpoint-down(md) {
							-ms-flex: 0 0 66.66667%;
							flex: 0 0 66.66667%;
							max-width: 66.66667%;
						}
					}
				}
				&.col-md-6,
				&.col-sm-6,
				&.col-6 {
					@include media-breakpoint-down(md) {
						-ms-flex: 0 0 33.33333%;
						flex: 0 0 33.33333%;
						max-width: 33.33333%;
					}
				}
				&.col-lg-6,
				&.col-lg-9, 
				&.col-lg-12 {
					.image {
						img {
							@include media-breakpoint-only(xl) {
								height: (($container-xl - ($p-container-xl * 2) + 12px) / 4) - 12px;
							}
							@include media-breakpoint-only(lg) {
								height: (($container-lg - ($p-container-lg * 2) + 12px) / 4) - 12px;
							}
							@include media-breakpoint-only(md) {
								height: (($container-md - ($p-container-md * 2) + 12px) / 2) - 12px;
							}
						}
					}
				}
			}
		}
		&.columns-4 {
			.image-container {
				&.col-lg-6,
				&.col-lg-9, 
				&.col-lg-12 {
					.image {
						img {
							@include media-breakpoint-only(xl) {
								height: (($container-xl - ($p-container-xl * 2) + 12px) / 4) - 12px;
							}
							@include media-breakpoint-only(lg) {
								height: (($container-lg - ($p-container-lg * 2) + 12px) / 4) - 12px;
							}
							@include media-breakpoint-only(md) {
								height: (($container-md - ($p-container-md * 2) + 12px) / 2) - 12px;
							}
						}
					}
				}
			}
		}
		&.columns-3 {
			.image-container {
				&.col-lg-8,
				&.col-lg-12 {
					.image {
						img {
							@include media-breakpoint-only(xl) {
								height: (($container-xl - ($p-container-xl * 2) + 12px) / 3) - 12px;
							}
							@include media-breakpoint-only(lg) {
								height: (($container-lg - ($p-container-lg * 2) + 12px) / 3) - 12px;
							}
							@include media-breakpoint-only(md) {
								height: (($container-md - ($p-container-md * 2) + 12px) / 2) - 12px;
							}
						}
					}
				}
			}
		}
		&.columns-2 {
			.image-container {
				&.col-lg-12 {
					.image {
						img {
							@include media-breakpoint-only(xl) {
								height: (($container-xl - ($p-container-xl * 2) + 12px) / 2) - 12px;
							}
							@include media-breakpoint-only(lg) {
								height: (($container-lg - ($p-container-lg * 2) + 12px) / 2) - 12px;
							}
							@include media-breakpoint-only(md) {
								height: (($container-md - ($p-container-md * 2) + 12px) / 2) - 12px;
							}
						}
					}
				}
			}
		}
		.image-container {
			.image {
				margin-bottom: 12px;
			}
		}
	}
	&.lightboxed {
		.image-container {
			.image {
				cursor: pointer;
			}
		}
	}
	.image-container {
		.image {
			overflow: hidden;
			img {
				height: 100%;
				width: 100%;
				object-fit: cover;
				object-position: center center;
			}
		}
		.sub-gallery {
			display: none;
		}
	}
}
body {
	.pop-overlay {
		.pop-modal {
			&.pop-gallery {
				height: 80vh;
				max-height: 800px;
				max-width: unset !important;
				padding: 0px;
				.pop-content {
					height: 100%;
					position: relative;
					.slides {
						height: 100%;
						.slick-list {
							height: 100%;
							.slick-track {
								height: 100%;
								.slick-slide {
									height: 100%;
									>div {
										height: 100%;
										.slide {
											width: 100%;
											height: 100%;
											img {
												object-fit: contain;
												object-position: center center;
												width: 100%;
												height: 100%;
											}
										}
									}
								}
							}
						}
					}
					.caption {
						position: absolute;
						left: 0px;
						bottom: 0px;
						min-height: 100px;
						width: 100%;
						display: flex;
						align-items: flex-end;
						&:before {
							content: "";
							position: absolute;
							top: 0px;
							bottom: 0px;
							height: 100%;
							width: 100%;
							background-image: url("images/mask_bottom_black.png");
							background-size: contain;
							opacity: .65;
						}
						p {
							color: $white;
							line-height: 1.35;
							z-index: 1;
							padding: 0px 150px 20px 20px;
							margin-bottom: 0px;
						}
					}
					.pagelink {
						position: absolute;
						right: 20px;
						bottom: 15px;
					}
					.arrows {
						text-align: center;
						margin-top: 20px;
						.prev,
						.next {
							height: 100%;
							position: absolute;
							top: 0px;
							vertical-align: middle;
							margin: 0px 20px;
							cursor: pointer;
							&:before {
								content: "\E705";
								font-family: microns !important;
								font-size: 46px;
								color: #c2c2c2;
								position: relative;
								top: calc( 50% - 25px );
							}
							&:hover {
								&:before {
									color: $white;
								}
							}
						}
						.next {
							right: 0px;
						}
						.prev {
							left: 0px;
							&:before {
								content: "\E704";
							}
						}
					}
					.dots {
						ul.slick-dots {
							text-align: center;
							margin: 0px auto;
							padding: 0px;
							list-style: none;
							position: relative;
							li {
								margin: 0px 6px;
								padding: 0px;
								display: inline-block;
								height: 8px;
								width: 8px;
								border-radius: 8px;
								cursor: pointer;
								background-color: #c2c2c2;
								opacity: .35;
								&.slick-active {
									opacity: 1;
								}
								button {
									display: none !important;
								}
								&:before {
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}