.block-photostrip {
	&.full {
		.container {
			max-width: 100%;
			width: 100%;
			padding-left: 0px;
			padding-right: 0px;
		}
	}
	&.strip {
		.photos-container {
			height: 320px;
			overflow: hidden;
		}
	}
	&.carousel {
		overflow: hidden;
		&.focus {
			.photos-container { 
				&:before,
				&:after {
					margin: 25px 0px;
				}
				.photo {
					margin: 25px 0px;
					&.slick-center,
					&.slick-loop {
						height: 370px;
						margin: 0px;
					}
				}
			}
			.back,
			.next {
				height: 370px;
			}
		}
		.photos-container {
			position: relative;
			&:before,
			&:after {
				content: "";
				background-size: 100% 100%;
				background-repeat: no-repeat;
				width: 90px;
				height: 320px;
				position: absolute;
				top: 0px;
				z-index: 1;
				@include media-breakpoint-down(xs) {
					width: 70px;
				}
			}
			&:before {
				background-image: url("partials/core/medium/block_photostrip/images/gradient_left.png");
				left: 0px;
			}
			&:after {
				background-image: url("partials/core/medium/block_photostrip/images/gradient_right.png");
				right: 0px;
			}
		}
		.back,
		.next {
			position: absolute;
			align-items: center !important;
			width: 90px;
			height: 320px;
			z-index: 2;
			top: 0px;
			@include media-breakpoint-down(xs) {
				width: 70px;
			}
			svg {
				height: 30px;
				width: 30px;
				opacity: .92;
				cursor: pointer;
				&:hover {
					opacity: 1;
				}
				polyline {
					fill: none;
					stroke: $white;
					stroke-miterlimit: 10;
					stroke-width: 12px;
				}
			}
		}
		.back {
			left: 15px;
			justify-content: flex-start;
			svg {
				margin-left: 8px;
			}
		}
		.next {
			right: 15px;
			justify-content: flex-end;
			svg {
				margin-right: 8px;
			}
		}
	}
	.photos-container {
		font-size: 0px;
		.photo {
			display: inline-block;
			width: 25%;
			height: 320px;
			transition: height .9s, margin .9s;
			@include media-breakpoint-only(md) {
				width: 33.333333333333%;
			}
			@include media-breakpoint-only(xs) {
				width: 50%;
			}
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}