
*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	background: #000;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}

canvas{
    max-width: none!important; 
}


#awp-wrapper{
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
	position: relative;
    left: 0;
    width: 100%;
    max-width: 1000px;
    margin: 100px auto;
    border: 1px solid #333;
}

.awp-player-thumb-wrapper{
	position:relative;
	width:100px;
	height:100px;
	float:left;
	background-color: #222;
	overflow:hidden;
}

.awp-player-holder{
	position:relative;
	top:0px;
	height:100px;
	overflow:hidden;
	background-color: #222;
}

.awp-waveform-wrap {
    position: relative;
    height: 100%;
    background: #121212;
}
.awp-waveform {
    position: relative;
	top:50%;
	-webkit-transform: translate(0, -50%);
  	-ms-transform: translate(0, -50%);
  	transform: translate(0, -50%);
}
.awp-waveform-preloader{
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	color:#fff;
	font-size: 18px;
	pointer-events:none;
	opacity: 0;
}

.awp-waveform-img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events:none;
}
.awp-waveform-img-load {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.awp-waveform-img-progress-wrap{
	position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    overflow: hidden;
    border-right: 3px solid #0000ff;
}
.awp-waveform-img-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.awp-waveform-img-load img,
.awp-waveform-img-progress img{
    display: block;
    width: 100%;
    height: 100%;
}


.awp-media-time-current{
	position:absolute;
	left:5px;
	bottom:0;
	margin:0!important;
	padding: 3px!important;
	color:#eee !important;
	font-size:13px!important;
	width:auto;
	pointer-events:none;
}
.awp-media-time-total{
	position:absolute;
	right:5px;
	bottom:0;
	margin:0!important;
	padding: 3px!important;
	color:#eee !important;
	font-size:13px!important;
	width:auto;
	pointer-events:none;
}



.awp-contr-btn i{
	position: absolute;
    top: 0;
    left: 0;
	width:25px;
	height:25px;
	text-align: center;
	display: inline-block;
	font-size: 15px!important;
	line-height: 25px!important;
}


.awp-playback-toggle{
	position:absolute;
	top:50%;
	width:40px;
	height:40px;
	left:50%;
	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
}
.awp-playback-toggle i{
	position:absolute;
	width:40px;
	height:40px;
	font-size: 36px!important;
	line-height:40px!important;
	color:#fff !important;
	text-align: center;
	display: inline-block;
}






.awp-wall4 .awp-playlist-content{
	display: grid;
    grid-gap: 1rem;
    justify-items: center;
}


#awp-playlist-list{
	display:none;
}
.awp-playlist-holder{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
	background: #111;
	    min-height: 200px;
}
.awp-playlist-inner{
	height: 100%;
	position: relative;
}
.awp-playlist-item{
	position: relative;
    width: 100%;
	background:#111;
	overflow: hidden;
}

.awp-playlist-item-content {
	text-align: center;
	height: 100%;
	text-decoration: none; 
}
.awp-playlist-selected {
	
}
.awp-playlist-thumb{
	position: relative;
    top: 0px;
    left: 0px;
    height: auto;
    width: 100%;
    flex-shrink: 0;
    overflow: hidden;
    display: block;
}
.awp-playlist-thumb img{
	position: relative;
    top: 0px;
    left: 0px;
    display: block;
    width: 100%;
    max-width: none!important;
}
.awp-playlist-title{
	font-size:17px;
	position:absolute;
	bottom:-10px;
	left:0;
	color:#fff;
	right: 0;
	padding:10px;
	opacity:0;
	pointer-events:none;
    transition: all .5s ease-out; 
}
.awp-playlist-selected .awp-playlist-title{
	opacity:1;
	bottom: 0px;
}
.awp-playlist-thumb-style{
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.awp-playlist-thumb-style{
	background-image: url('../data/misc/play2.png');
  	background-repeat: no-repeat;
  	background-position: center;
  	transition: opacity .2s ease-in; 
  	opacity: 0;
}
.awp-playlist-thumb-style-pause{
    background-image: url('../data/misc/pause2.png')!important;
}
.awp-playlist-selected .awp-playlist-thumb-style,
.awp-playlist-thumb:hover .awp-playlist-thumb-style{
    opacity: 1;
}
.awp-playlist-selected .awp-thumbimg{
    transform: scale(1.1);
    transition: all .2s ease-in; 
    filter: brightness(70%);
}

.awp-download, 
.awp-link {
    color: #fff!important;
    font-size: 16px!important;
    position: relative;
    text-align: center;
    float: left;
    width: 40px;
    height: 40px;
}
.awp-download i, .awp-link i {
    line-height: 40px;
    color: inherit;
    transition: color 0.3s ease-in-out;
}
.awp-download:hover, .awp-link:hover{
	color:#F665CF!important;
}


.awp-preloader{
    position: absolute;
    width: 80px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.awp-preloader span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#ff00ff;
    position:absolute;
    animation: awp_preloader 1.5s  infinite ease-in-out;
}
.awp-preloader span:nth-child(2){
	left:11px;
	animation-delay: .2s;
}
.awp-preloader span:nth-child(3){
	left:22px;
	animation-delay: .4s;
}
.awp-preloader span:nth-child(4){
	left:33px;
	animation-delay: .6s;
}
.awp-preloader span:nth-child(5){
	left:44px;
	animation-delay: .8s;
}
@keyframes awp_preloader {
    0% {height:5px;transform:translateY(0px);}
    25% {height:30px;transform:translateY(15px);}
    50% {height:5px;transform:translateY(0px);}
    100% {height:5px;transform:translateY(0px);}
}



.awp-playlist-filter-msg{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	line-height:200px;
	display: none;
}
.awp-playlist-filter-msg p{
	font-size:15px!important;
	color:#fff!important;
	vertical-align: middle!important;
    text-align:center!important;
	padding:0!important; 	
	margin:0!important; 
	line-height:inherit!important;
}
.awp-bottom-bar{
	position:relative;
	top:0px;
	clear:both;
	height:30px;
	width:100%;
	overflow:hidden;
	border-top:1px solid #222;
}
.awp-search-filter{
	position:relative;
	margin-left:20px;
	width:125px!important;
	height:18px!important;
	top:50%;
	margin-top:-9px;
	padding:0!important;
	border:0!important;
	-moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
	border-radius:0 !important;
	background:#222 !important;
	color:#fff !important;
	box-shadow:none!important; 
	line-height:1!important; 
	float: left;
	outline:none;
}

.awp-sort-alpha{
	position:relative;
	left:5px;
	top:0px;
	width:25px;
	height:100%;
	text-align: center;
	float: left;
}



.awp-bottom-controls{
	position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    height: 100%;
}
.awp-bottom-controls .awp-contr-btn{
	margin-left: 7px;
}


/* share */

.awp-player-title{
    color: #ccc;
    font-size: 16px;
}
.awp-player-desc{
    color:#999;
    margin:0;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding:0;
    overflow-y: auto;
    max-height: 200px;
    font-size: 13px;
}
.awp-player-desc::-webkit-scrollbar {
    width: 5px; 
    height: 5px; 
}
.awp-player-desc::-webkit-scrollbar-thumb {
    background: #999; 
}
.awp-player-desc::-webkit-scrollbar-track {
    background: #eee; 
}
.awp-share-holder{
    position: fixed;
    left: 50%;
    top: 50%;
    max-height: 300px;
    transform: translate(-50%, -50%);
    max-width:400px;
    width:100%;
    background: #222; 
    border: 1px solid #555;
    z-index:50;
    padding:20px 20px 10px 20px;
    display: none;
    box-sizing: border-box; 
}

.awp-playback-rate-holder{
    position: fixed;
    width: 300px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    z-index: 10;
    background: #222; 
    border: 1px solid #555;
    display: none;
}
.awp-share-holder-inner{
	height: 30px;
    position: relative;
    display: flex;
}
.awp-share-close,
.awp-playback-rate-close{
    position: absolute!important;
    width: 40px!important;
    height: 40px!important;
    top: 0!important;
    right: 0!important;
}
.awp-share-item{
    position:relative;
    width:25px!important;
    height:100%;
    text-align: center;
    float: left;
    margin-right: 15px;
    transition: transform 0.3s;
}
.awp-share-item:hover{
    transform: scale(1.7);
}

.awp-share-item[data-type="facebook"]:hover i{
    color: #3b5998!important;
}
.awp-share-item[data-type="twitter"]:hover i{
    color: #00aced!important;
}
.awp-share-item[data-type="tumblr"]:hover i{
    color: #34526f!important;
}
.awp-share-item[data-type="whatsapp"]:hover i{
    color: #25D366!important;
}
.awp-share-item[data-type="linkedin"]:hover i{
    color: #007bb6!important;
}
.awp-share-item[data-type="reddit"]:hover i{
    color: #FF4301!important;
}
.awp-share-item[data-type="digg"]:hover i{
    color: #005be2!important;
}
.awp-share-item[data-type="pinterest"]:hover i{
    color: #cb2027!important;
}

/* playback rate */

.awp-playback-rate-wrap{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.awp-playback-rate-min,
.awp-playback-rate-max{
    font-size: 13px;
    margin: 0 5px;
    pointer-events: none;
    color: #eee;
}
.awp-playback-rate-holder{
    width: 350px;
}
.awp-playback-rate-seekbar{
    width:200px;
    height:30px;
    position: relative;
    cursor: pointer;
    touch-action: none;
}
.awp-playback-rate-bg{
	background:#eee;
    position:absolute;
    top:13px;
    left:10px;
    width:180px;
    height:3px;
}
.awp-playback-rate-level{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    background-color: #ff33ff;
}



.awp-tooltip{
	background:#222;
	color:#fff!important;
	border:1px solid #333;

	position:absolute;
    text-align:center;
    z-index:10000;
    pointer-events:none;
    display:none;
    font-size:12px!important;
    padding:2px 5px !important;
    line-height:20px !important;
    white-space:nowrap;
}




.awp-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.awp-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}



.awp-playlist-icons{
	position: absolute;
    right: 0;
    top: 0;
}
.awp-contr-btn{
	width: 25px;
	height: 100%;
	position: relative;
}
.awp-contr-btn i{
	color: #fff;
	transition: color 0.3s ease-in-out; 
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
.awp-download i, .awp-link i{
	transition: color 0.3s ease-in-out; 
}
.awp-btn{
	display: none;
	height:100%;
}
.awp-icon-hover i{
	color: #ff33ff!important;
}

.awp-playlist-icon{
    font-family: fontAwesome;
    font-size: 16px;
    float: right;
    color: #fff!important;
    width: 40px;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
    height: 40px;
    line-height: 40px;
}
.awp-playlist-icon:hover{
	color:#ff33ff!important;
}


@media (min-width: 600px) {
    .awp-wall4 .awp-playlist-content {
        grid-template-columns: repeat(2, 1fr); 
 	}
}
@media (min-width: 1100px) {
    .awp-wall4 .awp-playlist-content { 
    	grid-template-columns: repeat(3, 1fr); 
    }
}
@media (min-width: 1600px) {
    .awp-wall4 .awp-playlist-content { 
    	grid-template-columns: repeat(4, 1fr); 
    }
}
