*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	background:#333;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
}



canvas{
    max-width: none!important; 
}



#awp-wrapper{
	position:relative;
	min-width:320px;
	line-height:normal!important;
	max-width:960px;
	margin: 140px auto 100px auto;
	font-family:Helvetica Neue, Helvetica, Arial, sans-serif;
}

.awp-player-wrap{
	display: flex;
	flex-direction: row;
}


.awp-player-thumb-wrapper{
	position:relative;
	width:140px;
	height:140px;
	float:left;
	overflow:hidden;
}
.awp-player-thumb{
	position:absolute;
	width:140px;
	height:140px;
	border-radius: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);*/
}

.awp-player-thumb img{
	display: block;
	position: absolute;
	max-width: none;
    height: 100%;
    width: auto!important;
	min-width: 140px;
}

.awp-player-holder{
	position:relative;
	height:140px;
	overflow:hidden;
	flex:1;
}


.awp-playback-toggle{
	position:absolute;
	top:0;
	left:0;
	width:50px;
	height:50px;
}
.awp-playback-toggle i{
	position:absolute;
	width:50px;
	height:50px;
	font-size: 30px!important;
	line-height:50px!important;
	color:#fff !important;
	text-align: center;
	display: inline-block;
}




.awp-info{
	position: relative;
	pointer-events:none;
	left:55px;
	top:5px;
}
.awp-player-artist{
	font-size:13px;
	color:#bbb;
	margin:0;
	padding:0;
}
.awp-player-title{
	font-size:18px;
	color:#ccc;
	display: inline-block;
	margin:0;
	margin-bottom: 3px;
	padding:0;
}







.awp-waveform-wrap {
    position: relative;
    margin-top:20px;
    height: 50px;
    overflow:hidden;
}
.awp-waveform-preloader{
	position:absolute;
	left:40%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	color:#fff;
	font-size: 18px;
	pointer-events:none;
	opacity: 0;
}

.awp-waveform-img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events:none;
}
.awp-waveform-img-load {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.awp-waveform-img-progress-wrap{
	position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    overflow: hidden;
    border-right: 3px solid #0000ff;
}
.awp-waveform-img-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.awp-waveform-img-load img,
.awp-waveform-img-progress img{
    display: block;
    width: 100%;
    height: 100%;
}




.awp-media-time-current{
	position:relative;
	left:5px;
	bottom:0;
	float:left;
	margin:0!important;
	padding: 3px!important;
	color:#eee !important;
	font-size:13px!important;
	width:auto;
	pointer-events:none;
}
.awp-media-time-total{
	position:relative;
	right:5px;
	bottom:0;
	float:right;
	margin:0!important;
	padding: 3px!important;
	color:#eee !important;
	font-size:13px!important;
	width:auto;
	pointer-events:none;
}





.awp-volume-wrapper{
	position:absolute;
	height:25px;
	right:17px;
	width: 125px;
    top: 8px;
    right: 10px;
}
.awp-player-volume{
	position:absolute;
	width:25px;
	height:25px;
	left:0;
	top:0;
}
.awp-player-volume i{
    position: absolute;	
	width:25px;
	height:25px;
	font-size: 18px!important;
	line-height:25px!important;
	color:#fff !important;
	text-align: center;
	display: inline-block;
}
.awp-volume-seekbar{
	position:absolute;
	left:25px;
	top: 0;
    height: 100%;
    width: 100px;
    background: rgba(0,0,0,0);
	cursor: pointer;
	touch-action: none;
}
.awp-volume-bg{
	position:absolute;
	top:10px;
	left:10px;
	width:80px;
	height:5px;
	background:#bbb;
}
.awp-volume-level{
	position:absolute;
	top:0;
	left:0;
	width:0;
	height:100%;
	background:#fff;
}











#awp-playlist-list{
	display:none;
}
.awp-playlist-holder{
	position:relative;
	top:0px;
	width:100%;
	overflow:hidden;
}
.awp-playlist-inner{
	position: relative;
	padding: :20px;
	min-height:100px;
	max-height:170px;
	box-sizing: content-box;
}
.awp-playlist-item{
	position: relative;
	top:0px;
	left:0px;
	overflow: hidden;
	padding: 5px 0;
	display: flex;
	flex-direction: row;
}

.awp-playlist-item:last-child {  
	margin-bottom:0px!important;
}
.awp-playlist-item-content {
	color:#eee!important;
	text-decoration: none; 
	margin-right: 10px;
	cursor: pointer;
	flex:1;
	display: flex;
	align-items: center;
}
.awp-playlist-selected .awp-playlist-item-content {
	color:#ffd454!important;
}

.awp-playlist-thumb {
	position: relative;
	width:50px;
	height:50px;
	float: left;
	border-radius: 100%;
	overflow: hidden;
	flex-shrink: 0;
}
.awp-playlist-thumb img{
	display: block;
	height:100%;
	width: auto!important;
	min-width: 50px;
	position: absolute;
}

.awp-playlist-title {
	font-size:14px;
	color:inherit;
	text-shadow: 1px 1px 1px #111;
	margin-left: 15px;
}
.awp-download, .awp-link{
	float:right;
	color:#fff!important;
	font-size: 16px!important;
	width: 30px;
	text-align: center;
}
.awp-download i, .awp-link i{
	color:inherit;
}
.awp-download:hover, .awp-link:hover{
	color:#ffd454!important;
}


.awp-playlist-filter-msg{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	line-height:100px;
	display: none;
}
.awp-playlist-filter-msg p{
	font-size:15px!important;
	color:#fff!important;
	vertical-align: middle!important;
    text-align:center!important;
	padding:0!important; 	
	margin:0!important; 
	line-height:inherit!important;
}


.awp-bottom-bar{
	position:relative;
	top:0px;
	clear:both;
	height:30px;
	width:100%;
	overflow:hidden;
	border-top:1px solid #232323;
	margin-top: 30px;
}
.awp-search-filter{
	position:relative;
	margin-left:20px;
	width:125px!important;
	height:18px!important;
	top:50%;
	margin-top:-9px;
	padding:0!important;
	border:0!important;
	-moz-border-radius:0 !important;
    -webkit-border-radius:0 !important;
	border-radius:0 !important;
	background:#222 !important;
	color:#fff !important;
	box-shadow:none!important; 
	line-height:1!important; 
	float: left;
	outline:none;
}

.awp-sr-bar-i{
	display: inline-block;
	font-size: 15px!important;
	line-height: 30px!important;
}
.awp-sort-alpha{
	position:relative;
	left:5px;
	top:0px;
	width:25px;
	height:100%;
	text-align: center;
	float: left;
}



.awp-bottom-controls{
	position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    height: 100%;
}
.awp-bottom-controls .awp-contr-btn{
	margin-left: 7px;
}

/* share */

.awp-player-title{
    color: #ccc;
    font-size: 16px;
}
.awp-player-desc{
    color:#999;
    margin:0;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding:0;
    overflow-y: auto;
    max-height: 200px;
    font-size: 13px;
 
}
.awp-player-desc::-webkit-scrollbar {
    width: 5px; 
    height: 5px; 
}
.awp-player-desc::-webkit-scrollbar-thumb {
    background: #999; 
}
.awp-player-desc::-webkit-scrollbar-track {
    background: #eee; 
}
.awp-share-holder{
    position: fixed;
    left: 50%;
    top: 50%;
    max-height: 300px;
    transform: translate(-50%, -50%);
    max-width:400px;
    width:100%;
    background: #333; 
    border: 1px solid #555;
    z-index:50;
    padding:20px 20px 10px 20px;
    display: none;
    box-sizing: border-box; 
}

.awp-playback-rate-holder{
    position: fixed;
    width: 300px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    z-index: 10;
    background: #333; 
    border: 1px solid #555;
    display: none;
}
.awp-share-holder-inner{
	height: 30px;
    position: relative;
    display: flex;
}
.awp-share-close,
.awp-playback-rate-close{
    position: absolute!important;
    width: 40px!important;
    height: 40px!important;
    top: 0!important;
    right: 0!important;
}
.awp-share-item{
    position:relative;
    width:25px!important;
    height:100%;
    text-align: center;
    float: left;
    margin-right: 15px;
    transition: transform 0.3s;
}
.awp-share-item:hover{
    transform: scale(1.7);
}

.awp-share-item[data-type="facebook"]:hover i{
    color: #3b5998!important;
}
.awp-share-item[data-type="twitter"]:hover i{
    color: #00aced!important;
}
.awp-share-item[data-type="tumblr"]:hover i{
    color: #34526f!important;
}
.awp-share-item[data-type="whatsapp"]:hover i{
    color: #25D366!important;
}
.awp-share-item[data-type="linkedin"]:hover i{
    color: #007bb6!important;
}
.awp-share-item[data-type="reddit"]:hover i{
    color: #FF4301!important;
}
.awp-share-item[data-type="digg"]:hover i{
    color: #005be2!important;
}
.awp-share-item[data-type="pinterest"]:hover i{
    color: #cb2027!important;
}

/* playback rate */

.awp-playback-rate-wrap{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.awp-playback-rate-min,
.awp-playback-rate-max{
    font-size: 13px;
    margin: 0 5px;
    pointer-events: none;
    color: #eee;
}
.awp-playback-rate-holder{
    width: 350px;
}
.awp-playback-rate-seekbar{
    width:200px;
    height:30px;
    position: relative;
    cursor: pointer;
    touch-action: none;
}
.awp-playback-rate-bg{
	background:#eee;
    position:absolute;
    top:13px;
    left:10px;
    width:180px;
    height:3px;
}
.awp-playback-rate-level{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    background-color: #ffd454;
}







.awp-tooltip{
	background:#222;
	border:1px solid #333;
	color:#fff!important;

	position:absolute;
    text-align:center;
    z-index:10000;
    pointer-events:none;
    display:none;
    font-size:12px!important;
    padding:2px 5px !important;
    line-height:20px !important;
    white-space:nowrap;
}

.awp-download-confirm{
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
	border:1px solid #555;
	opacity:0;
	z-index:1000;
	display:none;
}
.awp-download-confirm p{
	padding:10px 5px !important;
	font-size:14px;
	color:#fff;
	background:#333;
	text-align: center;
}
.awp-preloader{
	position:absolute;
	width:36px;
	height:30px;
	top:50%;
	left:50%;
	margin-left:-16px;
	margin-top:-15px;
	background: #111 url('../data/loading.gif') no-repeat center center; 
}




.awp-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.awp-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}




/* scroll */
.awp-playlist-inner .mCSB_inside > .mCSB_container {
    margin-right: 30px;
}





.awp-playlist-icons{
	display: flex;
	margin-left: auto;
}
.awp-contr-btn{
	width: 25px;
	height: 100%;
	position: relative;
}
.awp-contr-btn i{
	color: #fff;
	transition: color 0.3s ease-in-out; 
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
.awp-download i, .awp-link i{
	transition: color 0.3s ease-in-out; 
}
.awp-btn{
	display: none;
	height:100%;
}
.awp-icon-hover i{
	color: #ffd454!important;
}

.awp-playlist-icon{
    font-family: fontAwesome;
    font-size: 16px;
    color: #fff!important;
    width: 30px;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
    display: flex;
    align-items: center;
    justify-content: center;
}





@media only screen and (max-width: 500px) {
	.awp-playlist-item{
		flex-direction: column;
	}
}

@media only screen and (max-width: 400px) {
	.awp-player-wrap{
		flex-direction: column;
	}
	.awp-player-thumb-wrapper{
		width:100%;
	}
	.awp-player-thumb{
		left: 50%;
		transform: translateX(-50%);
	}
}