*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{ 
	text-decoration: none; 
}
body {
	background: #eff1f2;
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}


canvas{
    max-width: none!important; 
}


#awp-wrapper{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
	font-family: Helvetica, Arial, sans-serif;
}
.awp-player-holder{
	position:fixed;
	width:100%;
	height:75px;
	bottom:0px;
	background: #ededed;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
	display: flex;
}

.awp-contr-btn-vol-i{
	font-size: 18px!important;
}
.awp-media-time-current{
	position:relative;
	width:60px;	
	height:100%;
	color:#666;
	text-align: center;
	line-height: 75px;
	font-size: 14px;
	margin:0;
	padding: 0;
}

.awp-waveform-wrap {
    position:relative;
	height:100%;
	overflow: hidden;
	flex:1;
}
.awp-waveform-preloader{
	position:absolute;
	left:50%;
	top:50%;
	-webkit-transform: translate(-50%, -50%);
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	color:#333;
	font-size: 18px;
	pointer-events:none;
	opacity: 0;
}

.awp-waveform-img {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events:none;
}
.awp-waveform-img-load {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.awp-waveform-img-progress-wrap{
	position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    overflow: hidden;
    border-right: 3px solid #0000ff;
}
.awp-waveform-img-progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.awp-waveform-img-load img,
.awp-waveform-img-progress img{
    display: block;
    width: 100%;
    height: 100%;
}

.awp-media-time-total{
	position:relative;
	width:60px;	
	height:100%;
	color:#666;
	text-align: center;
	line-height: 75px;
	font-size: 14px;
	margin:0;
	padding: 0;
}
.awp-volume-seekbar{
	position:absolute;
	top:-75px;
	left:0px;
	width:50px;
	height:80px;
	display:none;
	cursor: pointer;
	touch-action: none;
	background:#ededed !important;
	-moz-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}
.awp-volume-wrapper:hover .awp-volume-seekbar{
	display: block;
}
.awp-volume-bg{
	position:absolute;
	width:2px;
	height:60px;
	background:#777;
	left:24px;
	bottom:10px;
}
.awp-volume-level{
	position:absolute;
	width:2px;
	height:60px;
	background:#fff;
	left:24px;
	bottom:10px;
}
.awp-volume-seekbar-shadow-hider{
	position:absolute;
	width:50px;
	height:10px;
	background:#ededed;
	left:0px;
	bottom:-5px;
	pointer-events:none;
}

.awp-player-title{
	color:#111;
	margin:0;
	margin-right: 20px;
	margin-bottom: 10px;
	padding:0;
	font-size: 16px;
}
.awp-player-desc{
	color:#333;
	margin:0;
	margin-right: 20px;
	margin-bottom: 10px;
	padding:0;
	overflow-y: auto;
    max-height: 200px;
	font-size: 13px;
 
}
.awp-player-desc::-webkit-scrollbar {
    width: 5px; 
    height: 5px; 
}
.awp-player-desc::-webkit-scrollbar-thumb {
    background: #999; 
}
.awp-player-desc::-webkit-scrollbar-track {
    background: #eee; 
}
.awp-share-holder{
	position: fixed;
	left: 50%;
	top: 50%;
	max-height: 300px;
    transform: translate(-50%, -50%);
	max-width:400px;
	width:100%;
	background:#ededed;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
	z-index:50;
	padding:20px 20px 10px 20px;
	display: none;
	box-sizing: border-box; 
}
.awp-share-item{
	position:relative;
	bottom:0px;
	left:0px;
	width:25px;
	height:30px;
	margin-right:5px;
	text-align: center;
	float: left;
}




#awp-playlist-list{
	display:none;
}
.awp-playlist-holder{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	overflow:hidden;
	height:80%;
	height: -webkit-calc(100% - 75px);
    height: -moz-calc(100% - 75px);
    height: calc(100% - 75px);
    background: #eff1f2;
}
.awp-playlist-inner{
	position: relative;
	height:90%;
	height: -webkit-calc(100% - 40px);
    height: -moz-calc(100% - 40px);
    height: calc(100% - 40px);
	margin:20px;
}
.awp-playlist-item{
	position: relative;
	top:0px;
	left:0px;
	overflow: hidden;
	padding: 5px;
	background: #eff1f2;
	border-bottom: 1px solid #ccc;
}
.awp-playlist-item > a {
    border: 0;
}
.awp-playlist-item:last-child {  
	margin-bottom:0px!important;
	border-bottom:0px!important;
}
.awp-playlist-item-content {
	color:#444;
	float:left;
	width: 100%;
	text-decoration: none; 
	overflow: hidden;
	cursor: pointer;
}
.awp-playlist-selected .awp-playlist-item-content{
	color:#fff;
}
.awp-playlist-thumb{
	position:relative;
	top:0px;
	left:0px;
	width:70px;
	height:70px;
	float:left;
	background:#222;
	border: 1px solid #555;
	overflow:hidden;
	border-radius: 100%;
	z-index: 1;
	-webkit-transform: translateZ(0);/*safari win*/
    -webkit-mask-image: -webkit-radial-gradient(circle, white, black);/*safari win*/
}
.awp-playlist-thumb img{
	position:absolute;
	top:0px;
	left:0px;
	display:block;
	object-fit: cover;
	width:100%;
	height:100%;
}
.awp-playlist-title{
	font-size:16px;
	position: relative;
	left: 15px;
 	height: 70px;
    display: table-cell;
    vertical-align: middle;
	color:inherit;
}


.awp-preloader{
    position: fixed;
    width: 80px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.awp-preloader span{
    display:block;
    bottom:0px;
    width: 9px;
    height: 5px;
    background:#baacf1;
    position:absolute;
    animation: awp_preloader 1.5s  infinite ease-in-out;
}
.awp-preloader span:nth-child(2){
	left:11px;
	animation-delay: .2s;
}
.awp-preloader span:nth-child(3){
	left:22px;
	animation-delay: .4s;
}
.awp-preloader span:nth-child(4){
	left:33px;
	animation-delay: .6s;
}
.awp-preloader span:nth-child(5){
	left:44px;
	animation-delay: .8s;
}
@keyframes awp_preloader {
    0% {height:5px;transform:translateY(0px);}
    25% {height:30px;transform:translateY(15px);}
    50% {height:5px;transform:translateY(0px);}
    100% {height:5px;transform:translateY(0px);}
}



.awp-bottom-controls{
	position: absolute;
    top: 0;
    right: 20px;
    display: flex;
    height: 100%;
}
.awp-bottom-controls .awp-contr-btn{
	margin-left: 7px;
}


/* share */


.awp-playback-rate-holder{
    position: fixed;
    width: 300px;
    height: 70px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    z-index: 10;
    background:#ededed;
    display: none;
}
.awp-share-holder-inner{
	height: 30px;
    position: relative;
    display: flex;
}
.awp-share-close,
.awp-playback-rate-close{
    position: absolute!important;
    width: 40px!important;
    height: 40px!important;
    top: 0!important;
    right: 0!important;
}
.awp-share-item{
    position:relative;
    width:25px!important;
    height:100%;
    text-align: center;
    float: left;
    margin-right: 15px;
    transition: transform 0.3s;
}
.awp-share-item:hover{
    transform: scale(1.7);
}

.awp-share-item[data-type="facebook"]:hover i{
    color: #3b5998!important;
}
.awp-share-item[data-type="twitter"]:hover i{
    color: #00aced!important;
}
.awp-share-item[data-type="tumblr"]:hover i{
    color: #34526f!important;
}
.awp-share-item[data-type="whatsapp"]:hover i{
    color: #25D366!important;
}
.awp-share-item[data-type="linkedin"]:hover i{
    color: #007bb6!important;
}
.awp-share-item[data-type="reddit"]:hover i{
    color: #FF4301!important;
}
.awp-share-item[data-type="digg"]:hover i{
    color: #005be2!important;
}
.awp-share-item[data-type="pinterest"]:hover i{
    color: #cb2027!important;
}

/* playback rate */

.awp-playback-rate-wrap{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.awp-playback-rate-min,
.awp-playback-rate-max{
    font-size: 13px;
    margin: 0 5px;
    pointer-events: none;
    color: #333;
}
.awp-playback-rate-holder{
    width: 350px;
}
.awp-playback-rate-seekbar{
    width:200px;
    height:30px;
    position: relative;
    cursor: pointer;
    touch-action: none;
}
.awp-playback-rate-bg{
	background:#555;
    position:absolute;
    top:13px;
    left:10px;
    width:180px;
    height:3px;
}
.awp-playback-rate-level{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    background-color: #ff33ff;
}
.awp-playback-rate-drag{
    position: relative;
    top:-9px;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    -webkit-transform: scale( 0.5 );
    transform: scale( 0.5 );
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;    
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; 
    float: right;
    margin-right: -9px;
    background:#ff33ff;
}
.awp-playback-rate-drag:hover,
.awp-playback-rate-drag:active {
    -webkit-transform: scale(1);
    transform: scale(1);
}





.awp-tooltip{
	background: #555;
	color:#fff!important;
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
	border: 1px solid #ddd;

	position:absolute;
    text-align:center;
    z-index:10000;
    pointer-events:none;
    display:none;
    font-size:12px!important;
    padding:2px 5px !important;
    line-height:20px !important;
    white-space:nowrap;
}



.awp-hidden {
	opacity: 0; 
	filter: alpha(opacity=0); 
}
.awp-visible {
	opacity: 1;
	-webkit-transition: opacity 500ms ease-out;
	-moz-transition: opacity 500ms ease-out;
	transition: opacity 500ms ease-out;
}


/* scroll */
.awp-playlist-inner .mCSB_inside > .mCSB_container {
    margin-right: 30px;
}




@media only screen and (max-width: 600px) {
	.awp-media-time-total, .awp-media-time-current{
		display: none;
	}
	.awp-waveform-wrap{
		left:150px;
		right:150px;
	}
}
@media only screen and (max-width: 500px) {
	.awp-prev-toggle, .awp-next-toggle{
		display: none;
	}
	.awp-waveform-wrap{
		left:50px;
	}
}

.awp-playlist-icons{
	float: right;
}
.awp-contr-btn{
	width:50px;	
	height:100%;
	float: left;
	position: relative;
}
.awp-contr-btn i{
	color: #555;
	transition: color 0.3s ease-in-out; 
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
}
.awp-download i, .awp-link i{
	transition: color 0.3s ease-in-out; 
}
.awp-btn{
	display: none;
	height:100%;
}
.awp-icon-hover i{
	color: #fff!important;
}

.awp-playlist-icon{
    font-family: fontAwesome;
    font-size: 16px;
    float: right;
    color: #fff!important;
    width: 30px;
    text-align: center;
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
}

