.acf-field[data-name="content_blocks"] {
	.layout[data-layout="block_accordion"] {
		.acf-fc-layout-handle {
			.icon {
				&:before {
					background-image: url("partials/core/mild/block_accordion/icon_accordion.png") !important;
				}
			}
		}
	}
}