.acf-field[data-name="content_blocks"] {
	.layout[data-layout="block_hero"] {
		.acf-fc-layout-handle {
			.icon {
				&:before {
					background-image: url("partials/core/mild/block_hero/icon_hero.png") !important;
				}
			}
		}
	}
}