.acf-field[data-name="content_blocks"] {
	.layout[data-layout="block_featuredpullquote"] {
		.acf-fc-layout-handle {
			.icon {
				&:before {
					background-image: url("partials/custom/block_featuredpullquote/icon_featuredpullquote.png") !important;
				}
			}
		}
	}
}