.blocks-wrapper {
    .block-resources {
        &.padded {
            &.above {
                margin-top: 0px !important;
            }
            &.below {
                margin-bottom: 0px !important;
            }
        }
    }
}
.block-resources {
	&.bullets {
		&.columns-2 {
			ul.resources {
				column-count: 2;
			}
		}
		&.columns-3 {
			ul.resources {
				column-count: 3;
			}
		}
		&.columns-4 {
			ul.resources {
				column-count: 4;
			}
		}
		ul.resources {
			list-style: none;
			margin: 12px 0px 0px 0px;
			padding: 0px;
			li {
				position: relative;
				line-height: 1.25;
				padding-left: 30px;
				margin-bottom: 12px;
				&:before {
					position: absolute;
					content: "";
					height: 18px;
					width: 18px;
					background-image: url('partials/core/medium/block_resources/images/icon_pdf.png');
					background-size: cover;
					background-repeat: no-repeat;
					left: 0px;
					top: 3px;
				}
				&.doc {
					&:before {
						background-image: url('partials/core/medium/block_resources/images/icon_doc.png');
					}
				}
				&.ppt {
					&:before {
						background-image: url('partials/core/medium/block_resources/images/icon_ppt.png');
					}
				}
				&.url {
					&:before {
						background-image: url('partials/core/medium/block_resources/images/icon_url.png');
					}
				}
				&.vid {
					&:before {
						background-image: url('partials/core/medium/block_resources/images/icon_vid.png');
					}
				}
				&.xls {
					&:before {
						background-image: url('partials/core/medium/block_resources/images/icon_xls.png');
					}
				}
				&.zip {
					&:before {
						background-image: url('partials/core/medium/block_resources/images/icon_zip.png');
					}
				}
			}
		}
	}
	&.cards {
		.row {
			margin-bottom: -30px;
		}
		.tile {
            margin-bottom: 30px;
            .card-container {
                background-color: $white;
                box-shadow: 0px 0px 8px rgb(0, 0, 0, .15);
                display: flex;
                height: 100%;
                padding: 20px;
                .icon {
                    width: 64px;
                    margin: 0px;
					display: flex;
					align-items: center;
                }
                .text {
                    text-align: left;
					padding-left: 24px;
					display: flex;
					align-items: center;
                    width: calc( 100% - 64px );
                    p {
                    	line-height: 1.2;
                    }
                }
			}
		}
	}
}
.block-section {
	.block-text {
		&.one-col {
			+.block-resources {
				&.padded {
					padding-top: 0px !important;
				}
			}
		}
	}
}