
// ======================================= //
//               CONTAINERS                //
// ======================================= //

$container-xl: 1140px;
$container-lg: 960px;
$container-md: 720px;
$container-sm: 540px;

// Set to true to set a max-width on the content/footer,
// or false to stretch container edge to edge
$max-container: false;

// For content blocks with images that scale to fit,
// this max-height limits the height of the content block
// for extremely wide browser sizes.
$max-panel-height: 800px;


// ======================================= //
//                 PADDING                 //
// ======================================= //

$p-top: 65px;
$p-bottom: 65px;
$p-top-xs: 12vw;
$p-bottom-xs: 12vw;

$p-container-xl: 60px;
$p-container-lg: 30px;
$p-container-md: 30px;
$p-container-sm: 30px;
$p-container-xs: 25px;
$p-container-xxs: 20px;


// ======================================= //
//                 COLORS                  //
// ======================================= //

// define color names here
$white: white;
$black: black;
$green: #8cc63f;
$pine: #008372;
$red: #D70F52;
$blue: #0087BA;
$orange: #B76E11;
$purple: #7570A4;

// standard set of greys, customize as necessary
$lightgrey: #d8e2e7;
$superlightgrey: #f1f5f7;
$grey: #7d919c;
$darkgrey: #231f20;
$charcoal: #231f20;

// define key colors
$c-primary: $charcoal;
$c-secondary: $green;
$c-tertiary: $pine;
$c-accent: $green;
$c-accent2: $green;

// catch all for remnants from other projects
@if variable-exists(green) { $c-green: $green; } @else { $c-green: $black }
@if variable-exists(pine) { $c-pine: $pine; } @else { $c-pine: $black }
@if variable-exists(red) { $c-red: $red; } @else { $c-red: $black }
@if variable-exists(darkred) { $c-darkred: $darkred; } @else { $c-darkred: $black }
@if variable-exists(pink) { $c-pink: $pink; } @else { $c-pink: $black }
@if variable-exists(fuscia) { $c-fuscia: $fuscia; } @else { $c-fuscia: $black }
@if variable-exists(darkfuscia) { $c-darkfuscia: $darkfuscia; } @else { $c-darkfuscia: $black }
@if variable-exists(lightblue) { $c-lightblue: $lightblue; } @else { $c-lightblue: $black }
@if variable-exists(blue) { $c-blue: $blue; } @else { $c-blue: $black }
@if variable-exists(darkblue) { $c-darkblue: $darkblue; } @else { $c-darkblue: $black }
@if variable-exists(cyan) { $c-cyan: $cyan; } @else { $c-cyan: $black }
@if variable-exists(teal) { $c-teal: $teal; } @else { $c-teal: $black }
@if variable-exists(darkteal) { $c-darkteal: $darkteal; } @else { $c-darkteal: $black }
@if variable-exists(brightorange) { $c-brightorange: $brightorange; } @else { $c-brightorange: $black }
@if variable-exists(orange) { $c-orange: $orange; } @else { $c-orange: $black }
@if variable-exists(tangerine) { $c-tangerine: $tangerine; } @else { $c-tangerine: $black }
@if variable-exists(yellow) { $c-yellow: $yellow; } @else { $c-yellow: $black }
@if variable-exists(purple) { $c-purple: $purple; } @else { $c-purple: $black }
@if variable-exists(softwhite) { $c-softwhite: $softwhite; } @else { $c-softwhite: $white }
@if variable-exists(offwhite) { $c-offwhite: $offwhite; } @else { $c-offwhite: $white }
@if variable-exists(cream) { $c-cream: $cream; } @else { $c-cream: $white }
@if variable-exists(wheat) { $c-wheat: $wheat; } @else { $c-wheat: $white }
@if variable-exists(white) { $c-white: $white; } @else { $c-white: $white }
@if variable-exists(slate) { $c-slate: $slate; } @else { $c-slate: $grey }
@if variable-exists(superlightgrey) { $c-superlightgrey: $superlightgrey; } @else { $c-superlightgrey: $grey }
@if variable-exists(lightgrey) { $c-lightgrey: $lightgrey; } @else { $c-lightgrey: $grey }
@if variable-exists(grey) { $c-grey: $grey; } @else { $c-grey: $grey }
@if variable-exists(gray) { $c-grey: $gray; } @else { $c-grey: $grey }
@if variable-exists(darkgrey) { $c-darkgrey: $darkgrey; } @else { $c-darkgrey: $grey }
@if variable-exists(charcoal) { $c-charcoal: $charcoal; } @else { $c-charcoal: $grey }
@if variable-exists(black) { $c-black: $black; } @else { $c-black: $black }
    
$c-bkgnd-white: $white;
$c-bkgnd-light: $superlightgrey;
$c-bkgnd-light2: $lightgrey;
$c-bkgnd-primary: $c-secondary;
$c-bkgnd-secondary: $grey;
$c-bkgnd-tertiary: $pine;
$c-bkgnd-accent: $c-accent;
$c-bkgnd-accent2: $c-accent2;

// BE SURE TO UPDATE partials/custom/_custom_colors.php
// WITH APPROPRIATE COLOR NAMES FOR THE BACKGROUND SELECTS


// ======================================= //
//                  FONTS                  //
// ======================================= //

// font families
$f-microns: 'microns';
$f-typicons: 'typicons';
$f-eurostile: eurostile, sans-serif;
$f-dulcinea: dulcinea, sans-serif;
// $f-baskerville: baskerville-urw, sans-serif;
$f-baskerville: baskerville-display-pt, sans-serif;

// font definition
$f-nav: $f-eurostile;
$f-heads: $f-eurostile;
$f-subheads: $f-eurostile;
$f-body: $f-eurostile;

$f-light: 400;
$f-book: 400;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 700;
$f-bold: 700;
$f-heavy: 800;


// ======================================= //
//               UTILITIES                 //
// ======================================= //

@function st($n) { // strip units from a number
  @if type-of($n) == 'number' and not unitless($n) {
    @return $n / ($n * 0 + 1);
  }
  @else {
    @return $n;
  }
}

// Stretch Children
// makes all child divs stretch to the same height, for Safari/IE depends on parent container having a set height
// to use, add "@include stretchChildren" to the parent element
@mixin stretchChildren {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
