.block-map {
	padding-bottom: $p-bottom - 35px !important;
	&.full-width {
		padding-bottom: 0px !important;
		padding-top: 0px !important;
		.container {
			padding: 0px;
			max-width: unset !important;
			.row {
				.map-container {
					font-size: 0px;
					iframe {
						width: 100%;
						height: 460px;
					}
				}
			}
		}
	}
	&.google {
		
	}
	.container {
		.map-container {
			#mapplic {
				.mapplic-map-image {
					svg {
						
					}
				}
			}
		}
	}
}