.post-container {
	margin-bottom: 25px;
	&.no-client {
		.success-story {
			h3 {
				line-height: 42px !important;
			}
		}
	}
	.post {
		position: relative;
		padding: 0px;
		height: 100%;
		padding-bottom: 68px;
		box-shadow: 0px 4px 32px 0px #2A12001F;
		border-radius: 30px;
		overflow: hidden;
		&:hover {
			.text-container {
				h3, h4 {
					a {
						color: $c-secondary;
						text-decoration: none;
					}
				}
				p.read-more {
					a.button.primary {
						color: $c-white;
						background: $c-charcoal;
					}
				}
			}
		}
		>a {
			display: block;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0px;
			left: 0px;
			z-index: 2;
		}
		.success-story {
			background-color: $c-grey;
			padding: 12px 24px;
			h3 {
				color: $c-white;
				font-weight: $f-regular;
				text-transform: uppercase;
				font-size: 16px;
				margin-bottom: 0px;
				line-height: 1.3;
				padding-left: 46px;
				position: relative;
				@include media-breakpoint-only(lg) {
					font-size: 15px;
					&:before {
						top: 3.5px !important;
					}
					&:after {
						top: 10.5px !important;
					}
				}
				&:before {
					content: "";
					height: 32px;
					width: 32px;
					top: 5px;
					left: -2px;
					background-color: $c-charcoal;
					transform: rotate(45deg);
					display: block;
					position: absolute;
					opacity: .6;
				}
				&:after {
					content: "";
					font-family: $f-typicons;
					height: 18px;
					width: 18px;
					background-color: $c-accent;
					transform: rotate(45deg);
					display: block;
					position: absolute;
					top: 12px;
					left: 5px;
				}
			}
		}
		.image-container {
			position: relative;
			width: 100%;
			height: 200px;
			@include media-breakpoint-down(sm) {
				height: 37vw;
			}
			@include media-breakpoint-down(xs) {
				height: 40vw;
			}
			.image {
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center center;
				background-repeat: no-repeat;
				@include media-breakpoint-down(sm) {
					height: 37vw;
				}
				@include media-breakpoint-down(xs) {
					height: 40vw;
				}
			}
		}
		.text-container {
			padding: 32px 24px 12px 24px;
			h3, h4 {
				margin-top: 0px;
				font-size: 26px;
				margin-bottom: 0px;
				font-weight: $f-regular;
				a {
					color: $black;
					text-decoration: none;
					text-transform: none;
					font-weight: $f-semibold;
					&:hover {
						color: $c-secondary;
						text-decoration: none;
					}
					strong {
						font-weight: $f-semibold;
						color: $c-secondary !important;
					}
				}
			}
			p.read-more {
				position: absolute;
				bottom: 0px;
				left: 0px;
				padding-left: 24px;
				margin-bottom: 24px;
			}
		}
	}
}