.block-training {
	&.two-col {
		.container {
			.row {
				.training-class {
					&.option {
		        		@include media-breakpoint-up(md) {
							-ms-flex: 0 0 50%;
							flex: 0 0 50%;
							max-width: 50%;
		        		}
					}
				}
			}
		}
	}
	&.priority {
		.training-class {
			.class-container {
				.content-container {
					h2 {
        				@include media-breakpoint-only(lg) {
							letter-spacing: 0px !important;
						}
					}
				}
			}
			&.cta {
        		@include media-breakpoint-only(md) {
					-ms-flex: 0 0 50%;
					flex: 0 0 50%;
					max-width: 50%;
        		}
        		@include media-breakpoint-up(lg) {
					-ms-flex: 0 0 33.33333%;
					flex: 0 0 33.33333%;
					max-width: 33.33333%;
        		}
				.class-container {
					box-shadow: unset !important;
		            @include media-breakpoint-up(md) {
						padding-top: 60px !important;
		            }
		            @include media-breakpoint-down(sm) {
						padding-bottom: 0px !important;
						margin-bottom: 0px !important;
		            }
					.content-container {
						-ms-flex: 0 0 100% !important;
						flex: 0 0 100% !important;
						max-width: 100% !important;
						padding-right: 0px !important;
			            @include media-breakpoint-down(sm) {
							text-align: center;
			            }
						h4 {
				            font-size: 20px !important;
				            font-weight: $f-semibold !important;
				            letter-spacing: 0px !important;
				            line-height: 1.3 !important;
				            @include media-breakpoint-only(md) {
				                font-size: 20px !important;
				            }
				            @include media-breakpoint-down(sm) {
				                font-size: 18px !important;
				            }
						}
					}
					.button-container {
						display: none;
					}
				}
			}
		}
	}
	&.support-packs {
		.training-class {
			&:nth-child(1),
			&:nth-child(2) {
				@include media-breakpoint-up(md) {
					-ms-flex: 0 0 50% !important;
					flex: 0 0 50% !important;
					max-width: 50% !important;
				}
			}
			&:nth-child(3) {
				-ms-flex: 0 0 100% !important;
				flex: 0 0 100% !important;
				max-width: 100% !important;
			}
		}
	}
	.container {
		.row {
			.training-class {
            	margin-bottom: 30px;
				.class-container {
        			background-color: $white;
            		box-shadow: 0px 0px 8px rgb(0, 0, 0, .15);
            		border-radius: 30px;
            		overflow: hidden;
            		padding-top: 76px;
            		padding-bottom: 108px;
            		position: relative;
					padding-left: 30px;
					padding-right: 30px;
            		height: 100%;
            		>a {
            			position: absolute;
            			height: 100%;
            			width: 100%;
            			top: 0px;
            			left: 0px;
            		}
					.level {
						position: absolute;
						top: 0px;
						left: 0px;
						width: 100%;
						background-color: $grey;
						padding-left: 30px;
						padding-right: 30px;
						p {
		            		text-align: center;
		            		text-transform: uppercase;
							color: $white;
							font-weight: $f-bold;
							margin: 12px 0px;
						}
					}
					.content-container {
						h2 {
							+p {
								margin-top: 14px !important;
							}
						}
						p + ul {
							margin-top: 14px !important;
						}
						ul {
							margin-top: -8px;
							margin-bottom: 0px;
							li {
								margin-bottom: 2px;
							}
						}
					}
					.button-container {
						position: absolute;
						bottom: 0px;
						left: 0px;
						padding: 0px 30px 30px 30px;
					}
				}
				&.custom,
				&.cta {
					.class-container {
			        	@include media-breakpoint-up(lg) {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
	            			padding-bottom: 30px;
            			}
						.content-container {
			        		@include media-breakpoint-up(lg) {
								-ms-flex: 0 0 70%;
								flex: 0 0 70%;
								max-width: 70%;
								padding-right: 10%;
			        		}
						}
						.button-container {
			        		@include media-breakpoint-up(lg) {
								position: relative;
								-ms-flex: 0 0 30%;
								flex: 0 0 30%;
								max-width: 30%;
			        		}
						}
					}
				}
				&.cta,
				&.support {
					.class-container {
            			padding-top: 34px;
						.button-container {
				            @include media-breakpoint-up(lg) {
				                padding-bottom: 18px;
				            }
						}
					}
				}
				&.cta {
					.class-container {
						.content-container {
							h4 {
					            font-size: 28px;
            					font-weight: $f-heavy;
					            letter-spacing: 0.05em;
					            line-height: 1.2;
					            margin-bottom: 0px;
					            @include media-breakpoint-only(md) {
					                font-size: 25px;
					            }
					            @include media-breakpoint-down(sm) {
					                font-size: 22px;
					            }
							}
						}
					}
				}
				&.support {
					.class-container {
			        	@include media-breakpoint-up(lg) {
							display: flex;
							flex-direction: row;
							flex-wrap: wrap;
	            			padding-bottom: 30px;
            			}
			        	@include media-breakpoint-down(md) {
							padding-bottom: 98px !important;
            			}
						.content-container {
			        		@include media-breakpoint-up(lg) {
								-ms-flex: 0 0 50%;
								flex: 0 0 50%;
								max-width: 50%;
			        		}
						}
						.button-container {
			        		@include media-breakpoint-up(lg) {
								position: relative;
								-ms-flex: 0 0 50%;
								flex: 0 0 50%;
								max-width: 50%;
								padding-right: 0px;
								padding-left: 20px;
			        		}
			        		.buttons {
			        			text-align: right;
			        			a {
			        				@include media-breakpoint-down(md) {
			        					margin-top: 0px;
			        				}
			        			}
			        		}
						}
						.content-container {
							h5.eyebrow {
								margin-bottom: 0px;
							}
							h4 {
			                    font-size: 36px;
			                    font-weight: $f-heavy;
			                    letter-spacing: 0.05em;
			                    line-height: 1.2;
			                    margin-bottom: 6px;
			                    @include media-breakpoint-only(md) {
			                        font-size: 32px;
			                    }
			                    @include media-breakpoint-down(sm) {
			                        font-size: 28px;
			                    }
							}
							p {
								margin: 0px;
							}
						}
					}
				}
				&.option {
					.class-container {
            			padding: 30px 30px 103px 30px;
            			.content-container {
							h5.eyebrow {
								margin-bottom: 0px;
							}
            				h2 {
            					+ul {
            						margin-top: 20px;
            					}
            				}
            				p {
            					margin-bottom: 0px;
            				}
            			}
					}
				}
			}
		}
	}
}