@mixin change($multiplier) {
	.info {
		@include media-breakpoint-only(xl) {
			width: $container-xl * $multiplier;
			max-width: $container-xl * $multiplier;
			padding-left: $p-container-xl;
			margin: 0px 0px 0px auto;
		}
		@include media-breakpoint-only(lg) {
			width: $container-lg * $multiplier;
			max-width: $container-lg * $multiplier;
			padding-left: $p-container-lg;
			margin: 0px 0px 0px auto;
		}
		@include media-breakpoint-only(md) {
			width: $container-md * $multiplier;
			max-width: $container-md * $multiplier;
			padding-left: $p-container-md;
			margin: 0px 0px 0px auto;
		}
	}
}

.block-contactform {
    .form-col {
        .frm_forms {
            form {
                padding-top: 15px;
                label.frm_primary_label {
                    /*display: none !important;*/
                }
                input, select, textarea {
                    font-family: $f-body !important;
                    font-weight: normal !important;
                    border-radius: 0px !important;
                    border: none;
                    box-shadow: 0px 0px 0px 0px !important;
                }
                .frm_blank_field {
                    input, select, textarea {
                        border: 0 !important;
                        border-bottom: 2px solid #B94A48 !important;
                        &:focus {
                            border: 0 !important;
                            border-bottom: 2px solid #B94A48 !important;
                        }
                    }
                }
                .frm_error {
                    margin-top: 6px;
                    font-style: italic;
                }
                .frm_submit {
                    button {
                        font-family: $f-body;
                        line-height: 24px;
                        &:hover {
							
                        }
                    }
                }
            }
        }
    }
	.map-col {
		#map {
			font-size: 0px;
			iframe {
				height: 450px;
				min-height: 400px;
				width: 100%;
				border: none;
			}
		}
	}
	.info-map {
		#map {
			font-size: 0px;
			iframe {
				width: 100%;
				border: none;
				@include media-breakpoint-only(xl) {
					height: 360px;
				}
				@include media-breakpoint-only(lg) {
					height: 320px;
				}
				@include media-breakpoint-only(md) {
					height: 300px;
				}
				@include media-breakpoint-down(sm) {
					height: 360px;
				}
			}
		}
	}
    .info-col {
        padding-top: 15px;
        @include media-breakpoint-down(sm) {
            padding-top: 40px;
        }
        .info {
            height: 100%;
            @include media-breakpoint-down(sm) {
                border: none;
                padding-left: 0px;
            }
            h4 {
                margin-bottom: 15px;
                @include media-breakpoint-down(sm) {
                    padding-right: 0px;
                }
            }
            p {
                position: relative;
                margin-bottom: 25px;
                &.icon {
                    padding-left: 35px;
                    margin-bottom: 16px;
                }
                &:before {
                    position: absolute;
                    content: "";
                    width: 22px;
                    height: 22px;
                    background-size: cover;
                    background-repeat: no-repeat;
                    top: 1px;
                    left: 0px;
                }
                &.phone {
                    &:before {
                        background-image: url(images/icon_phone.png);
                    }
                }
                &.fax {
                    &:before {
                        background-image: url(images/icon_fax.png);
                    }
                }
                &.email {
                    &:before {
                        background-image: url(images/icon_email.png);
                    }
                }
                &.address {
                    &:before {
                        background-image: url(images/icon_address.png);
                    }
                }
            }
        }
    }
	&.info {
		.info-col {
			.info {
				padding-left: 30px;
				border-left: 1px solid $c-primary;
			}
		}
	}
	&.info-map {
		.info-col {
			.info {
				height: unset !important;
				margin-bottom: $p-bottom;
			}
		}
	}
	&.map {
		.info-col {
			.info {
				@include media-breakpoint-up(md) {
					padding-top: $p-top;
				}
				padding-bottom: $p-top;
			}
		}
		&.map-left {
			.info-col {
				.info {
					padding-left: 30px;
				}
			}
		}
		&.fill-column {
			padding-top: 0px !important;
			padding-bottom: 0px !important;
			.container {
				padding: 0px;
				max-width: unset !important;
				.info-col {
					.info {
						@include media-breakpoint-up(md) {
							padding-top: $p-top;
							padding-bottom: $p-bottom;
						}
						@include media-breakpoint-up(sm) {
							width: $container-sm;
							max-width: $container-sm;
							padding-left: $p-container-sm;
							padding-right: $p-container-sm;
							margin: 0px auto;
						}
						@include media-breakpoint-only(xs) {
							width: 100vw;
							max-width: 100vw;
							padding-left: $p-container-xs;
							padding-right: $p-container-xs;
						}
						@include media-breakpoint-down(xxs) {
							width: 100vw;
							max-width: 100vw;
							padding-left: $p-container-xxs;
							padding-right: $p-container-xxs;
						}
					}
				}
			}
			&.map-right {
				.container {
					.info-col {
						@include media-breakpoint-only(md) {
							padding-left: 0px;
							padding-right: 0px;
							&.col-md-5 {
								@include change($multiplier: 5/12);
							}
							&.col-md-6 {
								@include change($multiplier: 6/12);
							}
							&.col-md-7 {
								@include change($multiplier: 7/12);
							}
						}
						@include media-breakpoint-up(lg) {
							padding-left: 0px;
							padding-right: 0px;
							&.col-lg-4 {
								@include change($multiplier: 4/12);
							}
							&.col-lg-6 {
								@include change($multiplier: 6/12);
							}
							&.col-lg-8 {
								@include change($multiplier: 8/12);
							}
						}
					}
				}
			}
			&.map-left {
				.container {
					.info-col {
						.info {
							padding-right: $p-container-sm;
							@include media-breakpoint-only(xl) {
								padding-right: $p-container-xl;
							}
							@include media-breakpoint-only(lg) {
								padding-right: $p-container-lg;
							}
							@include media-breakpoint-only(xs) {
								padding-right: $p-container-xs;
							}
							@include media-breakpoint-down(xxs) {
								padding-right: $p-container-xxs;
							}
						}
					}
				}
			}
		}
	}
    &.bkgnd-white {
        .form-col {
            .frm_forms {
                form {
                    input, select, textarea {
                        background-color: $lightgrey;
                        &:focus {
                            background-color: $lightgrey !important;
                        }
                    }
                }
            }
        }
    }
    &.bkgnd-light {
        .form-col {
            .frm_forms {
                form {
                    input, select, textarea {
                        background-color: $white;
                        &:focus {
                            background-color: $white !important;
                        }
                    }
                }
            }
        }
    }
}