.acf-field[data-name="content_blocks"] {
	.layout[data-layout="block_bio"] {
		.acf-fc-layout-handle {
			.icon {
				&:before {
					background-image: url("partials/core/mild/block_bio/icon_bio.png") !important;
				}
			}
		}
		.acf-field-662043ac7f9d8[data-name="social"] { // settings > social
			.acf-fields {
				border: none !important;
				.acf-label {
					display: none !important;
				}
				.acf-field-662043ef7f9d9 { // true/false
					padding: 0px !important;
				}
				.acf-field-662044247f9da { // checkboxes
					margin-top: 8px !important;
					border: 1px solid #eeeeee !important;
				}
			}
		}
		.acf-field-662046177f9db[data-name="bio_social"] { // block > social
			>.acf-label {
				display: block !important;
			}
			>.acf-input {
				>.acf-fields {
					>.acf-field {
						.acf-label {
							display: none !important;
						}
					}
				}
			}
		}
	}
}