.block-tiles {
    margin-bottom: -55px;
    .container {
        @include media-breakpoint-only(xl) {
            padding-right: 60px;
            padding-left: 60px;
        }
    }
    &.cards {
        .tile {
            margin-bottom: 30px;
            .card-container {
                background-color: $white;
                box-shadow: 0px 0px 8px rgb(0, 0, 0, .15);
                height: 100%;
                padding: 30px 35px;
                @include media-breakpoint-down(sm) {
                    padding: 40px 35px;
                    width: 80%;
                    margin: 0px auto;
                }
                @include media-breakpoint-only(xs) {
                    width: 90%;
                }
                @include media-breakpoint-only(xxs) {
                    width: 100%;
                }
            }
            &.image {
                &.col-md-5 {
                    @include media-breakpoint-only(md) {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                }
                .card-container {
                    position: relative;
                    padding: 0px;
                    .image {
                        width: 100%;
                        height: 180px;
                        @include media-breakpoint-only(sm) {
                            height: 200px;
                        }
                        @include media-breakpoint-only(xs) {
                            height: 50vw;
                            max-height: 220px;
                        }
                        overflow: hidden;
                        img {
                            max-width: unset !important;
                            width: 100%;
                            min-height: 100%;
                            position: relative;
                            object-fit: cover;
                            object-position: center center;
                            overflow: hidden;
                        }
                    }
                    .text {
                        padding: 10px 35px 30px 35px;
                        @include media-breakpoint-down(xs) {
                            width: 95%;
                        }
                        @include media-breakpoint-only(sm) {
                            width: 90%;
                        }
                        @include media-breakpoint-only(xl) {
                            width: 90%;
                        }
                    }
                }
            }
            &.button {
                padding-bottom: 0px !important;
                .card-container {
                    .buttons {
                        bottom: 30px;
                    }
                }
                &.image {
                    .card-container {
                        padding-bottom: 57px;
                    }
                }
                &.icon {
                    .card-container {
                        padding-bottom: 87px;
                    }
                }
				a.button {
					&:only-child {
						margin: 0px;
					}
				}
            }
        }
    }
    &.columns {
        
    }
    .tile {
        text-align: center;
        margin-bottom: 55px;
        position: relative;
        .image {
            width: 55%;
            margin: 0px auto 25px auto;
            @include media-breakpoint-down(xs) {
                width: 40%;
            }
            @include media-breakpoint-only(sm) {
                width: 50%;
            }
			img {
				max-width: 100%;
			}
        }
        .text {
            margin: 0px auto;
            @include media-breakpoint-down(xs) {
                width: 85%;
            }
            @include media-breakpoint-only(sm) {
                width: 75%;
            }
            @include media-breakpoint-only(xl) {
                width: 90%;
            }
            p {
                font-size: 93.75%;
            }
        }
        &.button {
            &.icon {
                padding-bottom: 57px;
            }
            .buttons {
                width: 100%;
                position: absolute;
                bottom: 0px;
                left: 0px;
            }
        }
    }
}